$background: #C7C7C7;
$background-ligth: #f5f5f5;
$primary-color: #287067;
$action-color: #21d5be;
$shadow-color:rgba(#3e3e3e, 0.4);
$menu-color: #6a6a6a;
$menu-item-color: #f0f0f0;

$font: 'Lato';
$default-shadow: 0px 3px 3px $shadow-color;

$time: .75s;


$tablet: 650px;
