@import 'colors.scss';
@import 'mixing.scss';
@import 'components/menu.scss';
@import 'components/body.scss';
* {
	margin: 0;
	padding: 0;
	font-family: $font;
	box-sizing: border-box;
}

li {
	list-style:none;
}

img {
	width: 100%;
}
body, .wrapp {
    background-color: $background-ligth;
	background: $background-ligth no-repeat url("/media/background.jpg") fixed;
	overflow-x: hidden;
	position:relative;
	z-index: -2;
}

.hidden {
	display: none;
}
%header {
	font: normal 900 24px $font;
}

@for $i from 1 through 6 {
	[class^=h#{$i}] {
		@extend %header;
		font-weight: 900/(6-$i);
		&[class*=--center] { text-align: center;  }
		&[class*=_bold] { font-weight: 600; }
		&[class*=--underline] {
			text-decoration: none;
			color: $background-ligth;
			position:relative;
			display:block;
			&:after {
				content: " ";
				position:absolute;
				background-color: $primary-color;
				width: 60%;
				height: 100%;
				left: 20%;
				top: 0;
				z-index: -1;
			}
		}
		@if $i == 1 {
		} @else if $i == 2{
			@include media(0, $desktop) {
				margin-top: 10%;
				margin-bottom: 5%;
			}
			@include media($desktop) {
				margin-top: 3%;
				margin-bottom: 2.0%;
			}
		} @else if $i == 3 {
			@include media(0, $desktop) {
				margin-top: 5%;
				margin-bottom: 2.5%;
			}
			@include media($desktop) {
				margin-top: 2%;
				margin-bottom: 1.5%;
			}

		}
	}
}

ul[class^=ul] {
	@include margin(1%, 10, 3, 0.25);
	&[class*=_border] {
		@each $border in top, bottom, left, right, all {
			&[class*=_border_#{$border}] {
				@if $border == "all" {
			 	 	 border: 1px solid black;
		 	 	 }
				@else {
					border-#{$border}: 1px solid black;
				}
			}
		}
		&[class*=--primary] {
			border-color: $primary-color;
			border-width: 5px;
		}
	}
	
	li[class^=li] {
		@include margin(1%, 5,3,0.5);
		transition-property: background-color, padding, box-shadow;
		transition-duration: $time;
		transition-timing-function: ease-in-out;
		&[class*=_dot] {
			padding: 0 6%;
			@include after(20px, 20px, 14%, -23px) {
				border: 5px solid $primary-color;
				border-radius: 50%;
				background-color: $background-ligth;
				@include media(550px) {
					left: -28px;
				}
				@include media($tablet) {
					left: -24px;
				}
			}
			&[class*=--active]:after {
				background-color: $primary-color;
			}
			@include media($desktop) {
				padding: 6%;
				.description {
					margin-top: 4%;
					
				}
			}
		}
		.description {
			@include media(0, $desktop) {
				margin-top: 0%;
				max-height: 0;
				overflow-y: hidden;
				transition-property: max-height, margin;
				transition-duration: $time;
				transition-timing-function: ease-in-out;
			}
		}
		&.active {
			background-color: darken($background-ligth, 10);
			box-shadow: $default-shadow;
			padding: 6%;
			.description{
				margin-top: 4%;
				max-height: 1000px;
			}
		}
		&.active-color {
			&:after {
				background-color: $primary-color;
			}
		}
	}
}

a[class^=link] {
	text-decoration: none;
	color: $action-color;
	position: relative;
	&:after {
		content: " ";
		position: absolute;
		background-color: $action-color;
		width: 100%;
		height: 10%;
		left: 0%;
		bottom: 0;
	}
	&:visited { color: $primary-color; &:after {background-color: $primary-color;}}
}

@import './components/header';
main {
	@include media(0, $desktop) {
		padding: 2%;
	}
	@include media($desktop) {
		max-width: 960px;
		margin: 1% auto 0 auto;
	}
}
@import './components/contact';
