section {
	width: 95%;
	display:block;
	margin: 2% auto;
	max-width: 400px;
	background-color: rgba($background-ligth, 0.8);
	box-shadow: $default-intense-shadow;
	padding: 2%;
	padding-top: 0%;
	position: relative;
	@include media(650px) {
		max-width: 600px;
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		.h2 {
			grid-row:1;
			grid-column:1/-1;
			margin-bottom: 0;
		}
		article.complete {
			grid-column:1/-1;
		}
		&.section-grid-1-x {
			display: grid;
			grid-template-columns: 1fr;
		}
		&.section-grid-2-3 {
			display:grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				"title title"
				"cell1-1 cell1-2"
				"cell1-1 cell2-2"
				"cell1-1 cell2-3";
			.h2 {
				grid-area: title;
			}
			@for $i from 1 to 3 {
				@for $j from 1 to 4 {
					.cell-#{$i}-#{$j} {
						grid-area: cell#{$i}-#{$j};
					}
				}
			}
		}
	}
	@include media($desktop) {
		max-width: 960px;
	}
}
