section {
	width: 95%;
	display:block;
	margin: auto;
	max-width: 400px;
	@include media(650px) {
		max-width: inherit;
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		.h2 {
			grid-row:1;
			grid-column:1/3;
			margin-bottom: 0;
		}
		article:nth-of-type(1) {
			grid-row:2;
			grid-column:1/3;
		}

	}
}
