.menu {
	&-compact {
		width: 100%;
		background-color: $menu-color;
		display: block;
		%hamburger {
			width: 50px;
			height: 50px;
			float: right;
			display:flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			margin: 2%;
			margin-right: 5%;
		}
		&-hamburger {
			@extend %hamburger;
			&[state="close"], &:hover {
				@extend %hamburger;
				[class*=item] {
					&:nth-child(1) {
						transform: rotate(-45deg) scale(0.5, 1) translate(2px, 12px);
					}
					&:nth-child(2) { transform: rotate(45deg); }
					&:nth-child(3) {
						transform: rotate(-45deg) scale(0.5, 1) translate(-2px, -11px);

					}
				}
			}
		}
		&-item {
			background: $menu-item-color;
			width: 80%;
			height: 15%;
			border-radius: 5%/50%;
			box-shadow: inset $default-shadow;
			transition-property: transform, opacity;
			transition-duration: .75s;
		}
		@include media(650px) {
			 display: none;
		}
	}
	&-uncompact {
		$class: str-slice("#{&}", 2);
		@include media(0px, $tablet) {
			position: absolute;
			right: 0%;
			display: block;
			width: 44%;
		}
		@at-root {
			&--hidden {
				@extend .#{$class};
				@include media(0px, 650px) {
					right: -100%;
				}
			}
		}
		&>ul {
			background-color: $background-ligth;
			box-shadow: $default-shadow;
			width: 100%;
			@include media(650px) {
				background-color: $menu-color;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
			}

		}
		&-item {
				background-color:$background;
				padding: 3%;
				text-align:center;
				box-shadow: inset $default-shadow;
			@include media(0px, $tablet) {
				margin: 1% 0;
			}
			@include media($tablet, $desktop) { padding: 2% 6%; }
			@include media($desktop) { padding: 1% 6%; }
		}
	}
}
